/* Стили для карточек */
.card {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%; /* Убедитесь, что карточки занимают всю доступную высоту */
    max-height: none; /* Уберите ограничение на максимальную высоту */
    transition: transform 0.3s ease-in-out;
}

/* Убедитесь, что изображения адаптивны */
.card-img-top {
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

/* Увеличьте отступы в .card-body для лучшего размещения */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

/* Кнопка "Добавить в корзину" */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

/* Основной стиль кнопки */
.btn-primary {
    background-color: #007bff;
    border: none;
}

/* Стили для формы отзыва */
form {
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

/* Убедитесь, что кнопки отправки адаптивны */
button[type="submit"].btn-primary {
    width: 100%; /* Кнопки занимают всю ширину формы */
    margin-top: 10px;
}
